body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/Starry Night.jpg'); 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    color:navajowhite;
}


h4{
    text-decoration:underline;
    font-size:14px;
    font-weight:bolder;
    
}

h2{
    color:navajowhite;
}

.navbar-inverse, .navbar-collapse, .navbar-nav > li > a{
     background-color:#bb4141;
     color:navajowhite;
    
}

footer{
    color:navajowhite;
}


.thumbnail{
    margin:10px;
}

navbar-brand{
    color:navajowhite;
}

h3{
    color:navajowhite;
}



